.nopage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nopage h1 {
    font-size: 5em;
    margin: 0;
}
.nopage a {
    color: black;
    font-weight: bold;
}